<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<div class="add-content-modal">
  <h2>Start your Creativity here!</h2>
  <div class="title-input-container">
    <label for="title-input">Title</label>
    <input id="title-input" type="text" [(ngModel)]="title" placeholder="Enter Title" class="title-input" />
  </div>
  <div class="Created_by-input-container">
    <label for="Created_by-input">Created By</label>
    <input id="Created_by-input" type="text" [(ngModel)]="Created_by" placeholder="Enter Author" class="Created_by-input" />
  </div> 
  <iframe #editor name="richTextField" style="width: 100%; height: 300px; border: 1px solid #ccc;"></iframe>
  <div class="modal-footer">
    <button (click)="postContent()" class="post-button">Post</button>
    <button (click)="closeEditor()" class="close-button">Close</button>
  </div>
</div>
